rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /players/{playerId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == resource.data.ownerId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
    }
    match /archived_players/{archivedId} {
      allow read, write, delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.ownerId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
    }
  }
}
